<!-- <!DOCTYPE html> -->
{% extends './generalheaderfotter.html' %}
{% load static%}
{% block content %}
<div class="class3about w3-grayscale-min w3-mobile">
    <div class="w3-container w3-row w3-text-white w3-mobile">
       <div class="w3-col m8 w3-animate-zoom" style="padding: 100px;">
        <h4><span class="w3-xxxlarge w3-text-blue"></span>--</span>HAND CAR WASHING AND DETAILING SERVICES</h4>
        <h4 class="w3-jumbo w3-hide-small" style="font-weight: bold;">ABOUT US</h4>
        <!-- <h4 class="w3-jumbo w3-hide-small">US</h4> -->
        <h4 class="w3-hide-large w3-mobile w3-xxlarge">ADVANCED CONSTRUCTION</h4>
        <h4 class="w3-text-blue">OUR SERVICE</h4>
       </div>
    </div>
</div>


<div class="class5">
    <div class="w3-row-padding">
        <div class="w3-col m6 w3-mobile" style="padding-left: 70px;">
            <h1 class="w3-jumbo w3-text-blue">WHO WE ARE</h1> <br>
           <h4 class="w3-large"> Mollit anim laborum duis au dolor in voluptcate velit ess cillum dolore eu lore dsu quality mollit anim laborumuis au dolor in voluptate velit cillu.</h4>
           <br> <br> <br> <br>
           <h6 class="w3-medium w3-mobile">
           Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.
           </h6> <br>
           <br> <br>
           <a href="#" class="w3-button w3-blue w3-text-white">READ MORE</a>


        </div>
        <div class="w3-col m6 w3-mobile w3-hide-small">
            <div class="w3-display-container" style="margin: 0;padding: 0px;">
                <img src="{%static 'images/service4.png'%}" alt="serviceman">
                <div class="w3-tag w3-display-bottomleft w3-xxlarge w3-blue">
                    <span >1994</span> <br>
                   <span>SINCE</span>
                </div>
            </div>
        </div>
    </div>
</div>

 <br> <br>

<div class="class9 w3-text-white w3-display-container"  style="background-color: #3399ff;">
    <div class="w3-row-padding w3-mobile">
        <div class="w3-col m8">
          <h1 class="w3-xxxlarge w3-text-white" style="padding:80px 0px 0px 20px;font-weight: 900px;">STIMONIAL
            FEEDBACk
            </h1>
          <p style="padding:20px 0px 0px 20px;font-weight: 900px;">Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim. <br>
              <a href="#" class="w3-button w3-large" >READ MORE</a>.</p>
        </div>
      </div>

   </div>


   <div class="w3-container">
    <h1 class="w3-xxxlarge w3-text-blue" style="padding: 70px 20px 0px;font-weight: 900px;">OUR TEAM</h1>
 <div class="class8">
     <div class="w3-container w3-row-padding" style="padding: 0px 20px 0px;">
         <div class="w3-col m4 w3-mobile">
             <img src="{% static 'images/member1.png'%}" alt="member1">
             <div class="w3-blue" style="margin: 0px;padding: 0px;width: 100%;">
                 <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">John</h3></div>
         </div>
         <div class="w3-col m4 w3-mobile">
             <img src="{% static 'images/member2.png'%}" alt="project5">
             <div class="w3-blue" style="margin: 0px;padding: 0px;width: 100%;">
                 <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Hamidu</h3></div>
         </div>
         <div class="w3-col m4 w3-mobile">
             <img src="{% static 'images/member3.png'%}" alt="project6">
             <div class="w3-blue" style="margin: 0px;padding: 0px;width: 100%;">
                 <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Charles</h3></div>
         </div>
     </div>
 </div>

</div> <br> <br> <br>
{%endblock%}
