{% extends './generalheaderfotter.html' %}
{% load static %}
{% block title %} blog {%endblock%}
{%block content%}
<br> <br> <br>
<div class="class11blog">
    <div class="w3-row-padding">
        <div class="w3-col m8 w3-display-container">
            <img src="{%static 'images/blog1.png'%}" alt="blog1.png" style="padding: 30px;" class="w3-mobile">
            <h4 style="font-weight: bold;padding: 55px;">Google inks pact for new 35-storey office</h4>
            <h5 style="padding: 0px 0px 10px 60px;">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</h5>
            <div style="padding: 0px 0px 10px 60px;">
                <a class="w3-button w3-blue"><span class="fa fa-use"> </span> Travel, Lifestyle </a>|  <a class="w3-button w3-blue"><span class="fa fa-message"> </span>03 Comments</a>
            </div> 
            <br> <br> <br> 
            <img src="{%static 'images/blog2.png'%}" alt="blog2.png" style="padding: 30px;" class="w3-mobile">
            <h4 style="font-weight: bold;padding: 55px;">Google inks pact for new 35-storey office</h4>
            <h5 style="padding: 0px 0px 10px 60px;">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</h5>
            <div style="padding: 0px 0px 10px 60px;">
                <a class="w3-button w3-blue"><span class="fa fa-use"> </span> Travel, Lifestyle </a>|  <a class="w3-button w3-blue"><span class="fa fa-message"> </span>03 Comments</a>
            </div>
            <img src="{%static 'images/blog3.png'%}" alt="blog3.png" style="padding: 30px;" class="w3-mobile">
            <h4 style="font-weight: bold;padding: 55px;">Google inks pact for new 35-storey office</h4>
            <h5 style="padding: 0px 0px 10px 60px;">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</h5>
            <div style="padding: 0px 0px 10px 60px;">
                <a class="w3-button w3-blue"><span class="fa fa-use"> </span> Travel, Lifestyle </a>|  <a class="w3-button w3-blue"><span class="fa fa-message"> </span>03 Comments</a>
            </div>
            <img src="{%static 'images/blog4.png'%}" alt="blog4.png" style="padding: 30px;" class="w3-mobile">
            <h4 style="font-weight: bold;padding: 55px;">Google inks pact for new 35-storey office</h4>
            <h5 style="padding: 0px 0px 10px 60px;">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</h5>
            <div style="padding: 0px 0px 10px 60px;">
                <a class="w3-button w3-blue"><span class="fa fa-use"> </span> Travel, Lifestyle </a>|  <a class="w3-button w3-blue"><span class="fa fa-message"> </span>03 Comments</a>
            </div>
            <img src="{%static 'images/blog5.png'%}" alt="blog5.png" style="padding: 30px;" class="w3-mobile">
            <h4 style="font-weight: bold;padding: 55px;">Google inks pact for new 35-storey office</h4>
            <h5 style="padding: 0px 0px 10px 60px;">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</h5>
            <div style="padding: 0px 0px 10px 60px;">
                <a class="w3-button w3-blue"><span class="fa fa-use"> </span> Travel, Lifestyle </a>|  <a class="w3-button w3-blue"><span class="fa fa-message"> </span>03 Comments</a>
            </div>
        </div> <br>  <br>
        <div class="w3-col m4">
            <div class="w3-container" style="width: 80%;margin: auto;">
                <input type="text" placeholder="Search keyword" class="w3-bar"><span class="fa fa-search"></span><br> <br>
                <a href="#" class="w3-button w3-bar">SEARCH</a>

            </div> <br>
            <div class="w3-container w3-center" style="width: 80%;margin: auto;">
                <ul class="w3-ul w3-blue w3-mobile">
                    <li style="width: 100%;margin: 0px;"><a class="w3-button w3-bar w3-hover-white">Restaurant food (37)</a></li>
                     <li style="width: 100%;margin: 0px;"><a class="w3-button w3-bar w3-hover-white"> news(10) </a></li>
                     <li style="width: 100%;margin: 0px;"> <a class="w3-button w3-bar w3-hover-white">Modern technology(03)</a> </li>
                     <li style="width: 100%;margin: 0px;"><a class="w3-button w3-bar w3-hover-white">Product(03) </a> </li>
                     <li style="width: 100%;margin: 0px;"><a class="w3-button w3-bar w3-hover-white">Insiparation(09)</a> </li> 
                     <li style="width: 100%;margin: 0px;"><a class="w3-button w3-bar w3-hover-white">Health Care(06)</a></li>  
                </ul>
            </div>
        </div>
    </div>
</div> <br>  <br> <br> 
{%endblock%}