{% extends './generalheaderfotter.html' %}
{% load static %}
{% block title %} Home{%endblock%}

{% block content %}
<div class="class3 w3-grayscale-min w3-mobile">
    <div class="w3-container w3-row w3-text-white w3-mobile">
       <div class="w3-col m8 w3-animate-zoom w3-mobile" style="padding: 100px;">
        <h4><span class="w3-xxxlarge w3-text-blue w3-mobile"></span>--</span>HAND CAR WASHING AND DETAILING SERVICES</h4>
        <h4 class="w3-jumbo w3-hide-small">ADVANCED</h4>
        <h4 class="w3-jumbo w3-hide-small">CONSTRUCTION</h4>
        <h4 class="w3-hide-large w3-mobile w3-xxlarge">ADVANCED CONSTRUCTION</h4>
        <h4 class="w3-text-blue w3-mobile">OUR SERVICE</h4>
       </div>
    </div>
</div>
<h1 class="w3-jumbo  w3-text-blue w3-hide-small" style="padding: 70px 70px 0px;font-weight: 900px;">OUR SERVICES</h1>
<h2 class="w3-hide-large w3-center w3-xxxlarge w3-text-blue w3-mobile">OUR SERVICE </h2>
<div class="class4 w3-mobile" style="padding: 0px 70px 0px 0px">
    <div class="w3-row-padding">
        <div class="w3-col m4 w3-mobile w3-grayscale-min" style="padding: 0px 0px 0px 70px;">
            <img src="{% static 'images/service1.png'%}" alt="service1" width="100%" class="w3-animate-zoom">
            <br> <br>
            <h3 class="w3-xlarge w3-mobile">Engineering techniques & implementation</h3>
            <a href="#" class="w3-medium w3-padding-right">Read More</a>
            <a href="#"><span class="w3-tag w3-padding w3-blue w3-hide-small">+</span></a>
        </div>
        <hr>
        <div class="w3-col m4 w3-mobile" style="padding: 0px 0px 0px 70px;" >
            <img src="{% static 'images/service2.png'%}" alt="service2"  width="100%" class="w3-animate-zoom">
            <br> <br>
            <h3 class="w3-xlarge w3-mobile">Engineering techniques & implementation</h3>
            <a href="#" class="w3-medium w3-padding-right">Read More</a>
            <a href="#"><span class="w3-tag w3-padding w3-blue w3-hide-small">+</span></a>
            <hr>
        </div>
        <div class="w3-col m4 w3-mobile" style="padding: 0px 0px 0px 70px;">
            <img src="{% static 'images/service3.png'%}" alt="service3"  width="100%" class="w3-animate-zoom">
            <br> <br>
            <h3 class="w3-xlarge">Engineering techniques & implementation</h3>
            <a href="#" class="w3-medium w3-padding-right">Read More</a>
            <a href="#"><span class="w3-tag w3-padding w3-blue w3-hide-small">+</span></a>
        </div> <hr><br>

    </div>
</div>

 <br>
  <br> <br> <br>
<div class="class5">
    <div class="w3-row-padding">
        <div class="w3-col m6 w3-mobile" style="padding-left: 70px;">
            <h1 class="w3-jumbo w3-text-blue w3-mobile">WHO WE ARE</h1> <br>
           <h4 class="w3-large"> Mollit anim laborum duis au dolor in voluptcate velit ess cillum dolore eu lore dsu quality mollit anim laborumuis au dolor in voluptate velit cillu.</h4>
           <br> <br> <br> <br>
           <h6 class="w3-medium w3-mobile">
           Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim.
           </h6> <br>
           <br> <br>
           <a href="#" class="w3-button w3-blue w3-text-white">READ MORE</a>


        </div>
        <div class="w3-col m6 w3-mobile w3-hide-small">
            <div class="w3-display-container" style="margin: 0;padding: 0px;">
                <img src="{%static 'images/service4.png'%}" alt="serviceman">
                <div class="w3-tag w3-display-bottomleft w3-xxlarge w3-blue">
                    <span >1994</span> <br>
                   <span>SINCE</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="class6">
    <div class="w3-row-padding">
        <div class="w3-col m6">
            <h1 class="w3-xxxlarge w3-text-blue" style="padding: 70px 20px 0px;font-weight: 900px;">OUR PROJECTS</h1>
        </div>
        <div class="w3-col m6 w3-bar" style="padding: 75px 0px;">
            <a href="#" class="w3-bar-item">Show All</a>
               <a href="#" class="w3-bar-item">Intorior</a>
               <a href="#" class="w3-bar-item">Recent</a>
              <a href="#" class="w3-bar-item"> Big Building</a>
               <a href="#" class="w3-bar-item">Park</a>
        </div>
    </div>
</div>


<div class="class7">
    <div class="w3-container w3-row-padding" style="padding: 0px 20px 0px;">
        <div class="w3-col m4 w3-mobile">
            <!-- ======================== -->
            <img src="{% static 'images/project1.png'%}" alt="project1" class="aa">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3>
        </div>

        <!-- =============================== -->
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project2.png'%}" alt="project2">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center w3-mobile" style="margin: 5px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project3.png'%}" alt="project3">
            <div class="w3-blue" style="margin: 5px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
    </div>
</div>

 <br> <br> <br>
<div class="class8">
    <div class="w3-container w3-row-padding" style="padding: 0px 20px 0px;">
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project4.png'%}" alt="project4">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project5.png'%}" alt="project5">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project6.png'%}" alt="project6">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
    </div>
</div>
<br> <br>

<div class="class8 w3-text-white w3-display-container" style="background-color: #3399ff;">
    <div class="w3-row-padding w3-mobile">
      <div class="w3-col m8">
        <h1 class="w3-xxxlarge w3-text-white" style="padding:80px 0px 0px 20px;font-weight: 900px;">LATS TALK WITH US</h1>
        <p style="padding:20px 0px 0px 20px;font-weight: 900px;">Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim. <br>
            <a href="#" class="w3-button w3-large" >READ MORE</a>.</p>
      </div>
    </div>
    <div class="w3-dispaly-bottom" style="width:90%;margin: auto;">
        <div class="w3-row w3-blue w3-center w3-animate-zoom" style="height: 200px;">
            <div class="w3-col m4">
                <div>
                    <span class="w3-xxxlarge">34</span> <br>
                   <span>
                    MACHINERY <br>
                    TOOL
                   </span>

                </div>

            </div>
            <div class="w3-col m4">
                <div>
                    <span class="w3-xxxlarge">34</span> <br>
                   <span>
                    MACHINERY <br>
                    TOOL
                   </span>

                </div>

            </div>
            <div class="w3-col m4">
                <div>
                    <span class="w3-xxxlarge">34</span> <br>
                   <span>
                    MACHINERY <br>
                    TOOL
                   </span>

                </div>

            </div>
        </div>


    </div>
   </div>


   <div class="w3-container">
       <h1 class="w3-xxxlarge w3-text-blue" style="padding: 70px 20px 0px;font-weight: 900px;">OUR TEAM</h1>
    <div class="class8">
        <div class="w3-container w3-row-padding" style="padding: 0px 20px 0px;">
            <div class="w3-col m4 w3-mobile">
                <img src="{% static 'images/member1.png'%}" alt="member1" class="w3-mobile">
                <div class="w3-blue w3-mobile" style="margin: 0px;padding: 0px;width: 100%;">
                    <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">John</h3></div>
            </div>
            <div class="w3-col m4 w3-mobile">
                <img src="{% static 'images/member2.png'%}" alt="member2" class="w3-mobile">
                <div class="w3-blue  w3-mobile" style="margin: 0px;padding: 0px;width: 100%;">
                    <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Hamidu</h3></div>
            </div>

            <div class="w3-col m4 w3-mobile">
                <img src="{% static 'images/member3.png'%}" alt="member3" class="w3-mobile">
                <div class="w3-blue w3-mobile" style="margin: 0px;padding: 0px;width: 100%;">
                    <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Charles</h3></div>
            </div>
        </div>
    </div>

   </div>

 <br> <br> <br>
   <div class="class9 w3-text-white w3-display-container"  style="background-color: #3399ff;">
    <div class="w3-row-padding w3-mobile">
        <div class="w3-col m8">
          <h1 class="w3-xxxlarge w3-text-white" style="padding:80px 0px 0px 20px;font-weight: 900px;">STIMONIAL
            FEEDBACk
            </h1>
          <p style="padding:20px 0px 0px 20px;font-weight: 900px;">Mollit anim laborum.Dvcuis aute iruxvfg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt mollitemnth incididbnt ut;o5tu layjobore mofllit anim. <br>
              <a href="#" class="w3-button w3-large" >READ MORE</a>.</p>
        </div>
      </div>

   </div>


   <div class="class10">
    <div class="w3-container">
        <h1 class="w3-xxxlarge w3-text-blue w3-mobile" style="padding: 70px 20px 0px 110px;font-weight: 900px;">LATEST NEWS</h1>
     <div class="class11" style="width: 90%;margin: auto;">
         <div class="w3-container w3-row-padding" style="padding: 0px 20px 40px;">
             <div class="w3-col m6 w3-mobile" style="padding-left:  40px;">
                 <img src="{% static 'images/latest1.png'%}" alt="latest1" style="width: 100%;height: 300px;" class="w3-mobile">
                 <div class="w3-blue" style="margin: 0px;padding: 0px;width: 100%;">
                     <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">John</h3></div>
             </div>
             <div class="w3-col m6 w3-mobile"  style="padding-left:  40px;">
                 <img src="{% static 'images/latest2.png'%}" alt="latest2" style="width: 100%;height: 300px;" class="w3-mobile">
                 <div class="w3-blue" style="margin: 0px;padding: 0px;width: 100%;">
                     <h3 class="w3-center" style="margin: 5px;padding: 40px 20px 0px 0px;">Hamidu</h3></div>
                 </div>
         </div>
     </div>

    </div>
   </div>

{%endblock%}
