{% extends './generalheaderfotter.html' %}
{% load static %}
{% block title %} Project{%endblock%}
{%block content%}
<div class="class3about w3-grayscale-min w3-mobile">
    <div class="w3-container w3-row w3-text-white w3-mobile">
       <div class="w3-col m8 w3-animate-zoom" style="padding: 100px;">
        <h4><span class="w3-xxxlarge w3-text-blue"></span>--</span>HAND CAR WASHING AND DETAILING SERVICES</h4>
        <h4 class="w3-jumbo w3-hide-small" style="font-weight: bold;">OUR PROJECT</h4>
        <!-- <h4 class="w3-jumbo w3-hide-small">US</h4> -->
        <h4 class="w3-hide-large w3-mobile w3-xxlarge">ADVANCED CONSTRUCTION</h4>
        <h4 class="w3-text-blue">OUR SERVICE</h4>
       </div>
    </div>
</div>


<br> 
<div class="class6">
    <div class="w3-row-padding">
        <div class="w3-col m6">
            <h1 class="w3-xxxlarge w3-text-blue" style="padding: 70px 20px 0px;font-weight: 900px;">OUR PROJECTS</h1>
        </div>
        <div class="w3-col m6 w3-bar" style="padding: 75px 0px;">
            <a href="#" class="w3-bar-item">Show All</a>
               <a href="#" class="w3-bar-item">Intorior</a> 
               <a href="#" class="w3-bar-item">Recent</a> 
              <a href="#" class="w3-bar-item"> Big Building</a> 
               <a href="#" class="w3-bar-item">Park</a>
        </div>
    </div>
</div>

<br> <br> 
<div class="class7">
    <div class="w3-container w3-row-padding" style="padding: 0px 20px 0px;">
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project1.png'%}" alt="project1">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project2.png'%}" alt="project2">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project3.png'%}" alt="project3">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
    </div>
</div>
<br> <br> <br>
<div class="class8">
    <div class="w3-container w3-row-padding" style="padding: 0px 20px 0px;">
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project4.png'%}" alt="project4">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project5.png'%}" alt="project5">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
        <div class="w3-col m4 w3-mobile">
            <img src="{% static 'images/project6.png'%}" alt="project6">
            <div class="w3-blue" style="margin: 0px;padding: 0px;width: 98%;">
                <h3 class="w3-center" style="margin: 0px;padding: 40px 20px 0px 0px;">Floride Chemicals
                    Factory</h3></div>
        </div>
    </div>
</div>
 <br> <br>

{%endblock%}